<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, "タスク名" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content, "タスク詳細" %>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label :deadline, "終了期限" %>
    <%= raw sprintf(
            form.date_select(
              :deadline,
              use_month_numbers: true,
              start_year: (Time.now.year),
              end_year: (Time.now.year + 5),
              default: Date.new(1989, 1, 1),
              date_separator: '%s'),
              '年 ', '月 ') + '日' %>
  </div>

  <div class="field">
    <%= form.label :status, "状態" %>
    <%= form.select :status, Task.statuses.keys, include_blank: "選択して下さい" %>
  </div>

  <div class="field">
    <%= form.label :priority, "優先順位" %>
    <%= form.select :priority, Task.priorities.keys, include_blank: "選択して下さい" %>
  </div>

  <div class="actions">
    <%= form.submit name="登録する"%>
  </div>
<% end %>
