<p id="notice"><%= notice %></p>

<h1><%= t('view.task.show') %></h1>

<p>
  <strong><%= t('view.task.title') %></strong>
  <%= @task.title %>
</p>

<p>
  <strong><%= t('view.task.content') %></strong>
  <%= @task.content %>
</p>

<p>
  <strong><%= t('view.task.deadline') %></strong>
  <%= @task.deadline %>
</p>

<p>
  <strong><%= t('view.task.status') %></strong>
  <%= @task.status_i18n %>
</p>

<p>
  <strong><%= t('view.task.priority') %></strong>
  <%= @task.priority_i18n %>
</p>

<%= link_to t('view.task.edit_button'), action: "edit" %>
<%= link_to t('view.task.back'), action: "index" %>
