<!DOCTYPE html>
<html>
  <head>
    <title>ManyoAssignment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ol class="breadcrumb">
      <% if logged_in? %>
        <li><%= link_to t('view.user.mypage'), user_path(current_user.id) %></li>
        <li><%= link_to t('view.session.logout'), session_path(current_user.id), method: :delete %></li>
        <li><%= current_user.name %>のページ</li>
        <% if current_user.admin? %>
          <li><%= link_to t('view.user.user_admin_page'), admin_users_path %></li>
        <% end %>
      <% else %>
        <li class="active"><%= link_to t('view.session.login'), new_session_path, class: "click1" %></li>
      <% end %>

      </ol>
    </header>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert <%= bootstrap_class_for(key) %>" ><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
